@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Integration_Project.Extensions
@using MlkPwgen;

@{
    var user = HttpHelper.CheckLoggedUser();
    var str = "";
}

@model List<Event>


@foreach (var ev in Model) {

    str = PasswordGenerator.Generate(length: 4, allowed: Sets.Alphanumerics);
    <div class="row event-overview-detail-wrapper my-3 rounded" onload="loadEmbeddedMap()">
        <input type="hidden" class="uniqueEnum" value="@str" />
        <input type="hidden" id="queryLocation" value="@ev.Location.ToStringForGoogleMaps()" />

        <div class="col-md-2 text-center bg-custom text-white date-info">
            <a href="@Url.Action("Detail", "Event", new { @Id = ev.Id })">
                <p> @ev.Start.Day </p>
                <p> @ev.Start.ToString("MMM") </p>
                <p> @ev.Start.Year </p>
                <span>
                    <i class="fas fa-clock"></i>
                    @ev.Start.ToString("MMM") @ev.Start.Day - @ev.End.ToString("MMM") @ev.End.Day
                </span>
            </a>
        </div>
        <div class="col-md-3 p-0">
            <div class="localMap" id="map-@str"></div>
        </div>
        <div class="col-md-5 bg-white ev-tit-desc pt-4">
            <a href="@Url.Action("Detail", "Event", new { @Id = ev.Id })">
                <h2>@ev.Title</h2>
                <p>@ev.Description</p>
            </a>
        </div>
        <div class="col-md-2 text-center pt-4 right-side">
            <a href="@Url.Action("Detail", "Event", new { @Id = ev.Id })">
                <i class="fas fa-map-marker-alt"></i>
                <p>@ev.Location.City</p>
                @if (Model.Any(p => p.OrganiserId == (user != null ? user.Uuid : Guid.NewGuid()))) {
                    @if (user.Uuid == ev.OrganiserId) {
                        <a href="@Url.Action("Edit", "Event", new { @Id = ev.Id } )"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("DeleteEvent", "Event", new { @eventId = ev.Id })"><i class="fa fa-close"></i></a>
                    }
                }
                @if (user != null) {
                    @if (ev.Attendees != null && ev.Attendees.Any(p => p.CreatorId == user.Uuid)) {
                        <i class="fas fa-check"></i>
                    } else {
                        <a href="@Url.Action("SubscribeToEvent", "Event", new { @eventId = ev.Id } )"><i class="fas fa-user-plus"></i></a>

                    };
                }
            </a>
        </div>
    </div>
}