
@using Integration_Project.Extensions
@using MlkPwgen;
@using Integration_Project.Services.AttendanceService;
@using Integration_Project.Services.UserService;

@inject AttendanceService _attendanceService;
@inject UserService _userService;

@{
    var user = HttpHelper.CheckLoggedUser();
    var str = PasswordGenerator.Generate(length: 4, allowed: Sets.Alphanumerics);
    InternalUser usr;
}

@model Event


<div class="container">
    <div class="row d-flex justify-content-center col-12">
        @*TITLE + DESCRIPTION*@
        <h1 class="col-12" style="text-align: center">@Model.Title</h1>
        <h2 class="col-12" style="text-align: center">@Model.Description</h2>
    </div>
    <div class="col-12">
        @*COUNTDOWN*@

    </div>
    <div class="row d-flex justify-content-center col-12">
        @*MAP*@
        <div class="col-4">
            <div class="row event-overview-detail-wrapper my-3 rounded" onload="loadEmbeddedMap()">
                <input type="hidden" class="uniqueEnum" value="@str" />
                <input type="hidden" id="queryLocation" value="@Model.Location.ToStringForGoogleMaps()" />
                <div class="localMap" id="map-@str"></div>
            </div>
        </div>
        <div class="col-8">
            @*INFO*@
            <div class="form-group col-12">
                <label for="description">Organiser:</label><br>
                <input type="text" id="organiser" name="organiser" value=@Model.OrganiserId class="col-12" style="height:40px"><br>
            </div>
            <div class="form-group col-12">
                <label for="start">Begin:</label><br>
                <input type="date" id="start" name="start" value=@Model.Start.ToString("yyyy-MM-dd") class="col-12" style="height:40px"><br>
            </div>
            <div class="form-group col-12">
                <label for="end">Einde:</label><br>
                <input type="date" id="end" name="end" value=@Model.End.ToString("yyyy-MM-dd") class="col-12" style="height:40px"><br>
            </div>
            @if (Model.OrganiserId == (user != null ? user.Uuid : Guid.NewGuid()))
            {
                @if (user.Uuid == Model.OrganiserId)
                {
                    <a href="@Url.Action("Edit", "Event", new { @Id = Model.Id } )"><i class="fa fa-edit"></i></a>
                }
            }
        </div>
    </div>
    <div>
        @*ATTENDEES*@
        @foreach (Attendance att in _attendanceService.GetAllForEvent(@Model.Uuid))
        {
            usr = _userService.Get(att.UserId);
            <div class="form-group col-3">
                @*<img src=@Model.photo alt="profile picture" class="profile">*@
                <img src="~/Images/placeholder.jpg" alt="profile picture" class="profile" />
                <label>@usr.LastName</label><br />
                <label>@usr.FirstName</label>
            </div>
        }
    </div>
</div>

@*
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="form-group col-12">
                <label for="title">Naam:</label><br>
                <input type="text" id="title" name="title" value=@Model.Title class="col-12" style="height:40px"><br>
            </div>
            <div class="form-group col-12">
                <label for="description">Beschrijving:</label><br>
                <input type="text" id="description" name="description" value=@Model.Description class="col-12" style="height:40px"><br>
            </div>
            <div class="form-group col-12">
                <label for="start">Begin:</label><br>
                <input type="date" id="start" name="start" value=@Model.Start.ToString("yyyy-MM-dd") class="col-12" style="height:40px"><br>
            </div>
            <div class="form-group col-12">
                <label for="end">Einde:</label><br>
                <input type="date" id="end" name="end" value=@Model.End.ToString("yyyy-MM-dd") class="col-12" style="height:40px"><br>
            </div>
            @if (Model.OrganiserId == (user != null ? user.Uuid : Guid.NewGuid())) {
            @if (user.Uuid == Model.OrganiserId) {
                    <a href="@Url.Action("Edit", "Event", new { @Id = Model.Id } )"><i class="fa fa-edit"></i></a>
                }
            }
        </div>
    </div>
*@